<h1><div class="head">Sign-up in to give us your over opinionated thoughts</div></h1>


<div id="intro">
<div class="SI"><%= link_to "Sign Up!", signup_path %> <br></div>
<div class="LI"><%= link_to "Log In", sessions_path %><br></div>
<div class="LO"><%= link_to "Log Out!", log_out_path, method: :delete %></div>
</div>
